main{
  min-height: calc(113vh - 285px);
}

body {
  background-color: white;
  text-align: center;
}

h1 {
  text-align: center;
  background-color: rgb(129, 231, 129);
  border-radius: 10px;
}

button {
  font-size: xx-large;
  background-color: rgb(220, 176, 32);
  border-radius: 10px;
  border: none;
  padding: 0px 10px 0px 10px;
  margin: 10px;
}

button:hover {
  background-color: rgb(129, 231, 129);
}

.modifyButton {
  font-size: large;
}

.listedItems {
  padding: 10px;
}

#auth-butt {
  font-size: large;
}